<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<input type="hidden" id="quizPort" th:value="${quizPort}">
    <div id="userZone">
        <button id="moveIndexLogin">로그인</button>
        <button id="moveIndexJoin">회원가입</button>
    </div>

    <div id="quizZone" style="display:none">
        <input type="text" id="userEmail" th:value="${userEmail}" readonly> 님 환영합니다!!<br>
        <button id="makeQuizBtn">퀴즈만들기</button>
        <button id="moveQuizBtn">퀴즈풀기</button>
    </div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        var quizPort = $("#quizPort").val();
        var userEmail = $("#userEmail").val();

        if(userEmail != '') {
            $("#quizZone").show();
            $("#userZone").hide();
        }

        $('#makeQuizBtn').click(function() {
            window.location.href = quizPort+'/view/tester/list';
        });

        $('#moveIndexLogin').click(function () {
            window.location.href = '/login';
        });

        $('#moveIndexJoin').click(function () {
            window.location.href = '/join';
        });

    });



</script>

</body>
</html>