<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
    <h1>로그인 page</h1>
    <form method="post" th:action="@{/user/login}">
        <div>
            ID : <input type="text" name="email" id="email" placeholder="email"/> <br>
            PASSWORD : <input type="text" name="password" id="password" placeholder="password"/>  <br>

            <input type="submit" value="Login">
            <input type="button" value="Join" onclick="location.href='join.html'">
        </div>
    </form>
</body>
</html>