<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>

     <div style="text-align: center">
         <h1>로그인 page</h1>

         <div>
             <button id="moveUserLoginBtn">UserLogin</button>
             <button id="moveTesterLoginBtn">TesterLogin</button>
         </div>
     </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $('#moveUserLoginBtn').click(function () {
            alert("ㅁㄴㅇ");
            window.location.href = '/view/user/login';
        });
    </script>
</body>
</html>