<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<form method="post" th:action="@{/user/join}">
    <div style="text-align: center">
        <h1>회원가입 page</h1>
        <div>
            ID : <input type="text" name="email" id="email" placeholder="email"/> <br>
            PASSWORD : <input type="text" name="password" id="password" placeholder="password"/>  <br>
        </div>

        <div>
            <button type="submit" value="join">join</button>
            <button value="back" id="moveLoginBtn">back</button>
        </div>
    </div>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $('#moveLoginBtn').click(function () {
        window.location.href = '/view/user/login';
    })
</script>
</body>
</html>